.App {
  /* text-align: center; */
  background: #e74c3c;
}

#canvas {
  position: relative;
  left: 0;
  top: 0;
  border: 1px dotted black;
  cursor: crosshair;
  background: #ecf0f1;
  opacity: 0.9;
}
