.App {
  /* text-align: center; */
  background: #e0ac69;
  height: 9000px;
  width: 1000px;
}

.canvasContainer {
  height: 100px;
  position: absolute;
  /* top: 350px;
  left: 250px; */
  top: 350px;
  left: 0;
}

#canvas {
  position: relative;
  left: 50px;
  top: 50px;
  border: 1px solid black;
  cursor: crosshair;
  /* background: #ecf0f1; */
  background: transparent;
  opacity: 0.9;
  touch-action: none;
  z-index: 1;
}

#result {
  position: absolute;
  top: 0;
  left: 1000px;
  border: 1px solid black;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 500;
  color: black;
}

#demoWound {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 50%;
  border-top: 5px solid purple;
  transform: rotate(315deg);
}
